// CATALOG

.catalog(style='background-image: url(' + curPath + 'images/backgrounds/dark-pattern.jpg)')
	.g--wrap
		h1.g--title Ты сегодня покормил кота?

		ul.catalog__list
			each item, key in catalogItems

				if key === 1
					-newClass = 'selected'
				else if key === 2
					-newClass = 'disabled'
				else
					-newClass = 'default'


				li.catalog__item.product(class=newClass)
					.product__inner
						.product__top
							span.product__desc Сказочное заморское яство
						.product__body(style='background-image: url(' + curPath + 'images/cat.png)')
							span.product__name Нямушка
							span.product__type= item.type

							ul.extra__list
								each line in item.extra
									li.extra__item= line

							.product__label.label
								span.label__weight= item.weight
								span.label__unit кг

					.product__info
						span.info__text.info__text_default Чего сидишь? Порадуй котэ,&#32;
							a(href='#') купи.
						span.info__text.info__text_selected  Головы щучьи с чесноком да свежайшая сёмгушка.
						span.info__text.info__text_disabled Печалька, с курой закончился.

// CATALOG end