head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
	meta(name='format-detection', content='telephone=no')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	<!-- build:css -->
	link(rel='stylesheet', href='./css/styles.css')
	<!-- endbuild -->
	meta(name='theme-color', content='#ffffff')
	title Дружина
