@charset "UTF-8"
@import init


.catalog
  overflow: hidden
  display: flex
  align-items: center
  height: 100vh
  background-size: cover
  background-repeat: no-repeat
  background-position: 50%
  
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0 -40px -60px
    
  &__item
    flex: 0 1 320px
    overflow: hidden
    margin: 0 40px 80px
    

.label
  height: 81px
  width: 81px
  background: $color-main
  border-radius: 50%
  text-align: center
  color: #FFF
  display: flex
  flex-direction: column
  justify-content: center
  line-height: 1
  &__weight
    font-size: 42px
  &__unit
    font-size: 21px
    
    
    
.product
  position: relative
  z-index: 1
  cursor: default
  user-select: none
  &__top
    position: relative
    padding: 20px 4px 0
    background: $color-box
    height: 45px
    width: calc(100% - 45px)
    margin-left: 45px
    border-top: $border-product
    border-right: $border-product
    border-top-right-radius: $border-radius-product
    &::before
      +pseudo()
      left: -24px
      top: -5px
      width: 60px
      height: calc(100% + 6px)
      background: $color-box
      border-left: 6px solid $color-main
      transform: skew(-45deg)
      z-index: -1
      
    
  &__body
    position: relative
    min-height: 437px
    padding-top: 10px
    background: $color-box
    background-repeat: no-repeat
    background-position: -33px 165px
    border-right: $border-product
    border-bottom: $border-product
    border-left: $border-product
    border-bottom-right-radius: $border-radius-product
    border-bottom-left-radius: $border-radius-product
    padding-left: 45px
    
    
  &__desc, &__name, &__type
    display: block
    
  &__desc
    color: $color-font-gray
    
  &__name
    line-height: 1
    font-size: 48px
    font-weight: 700
    margin-bottom: 7px
    
  &__type
    font-size: 24px
    font-weight: 700
    margin-bottom: 10px
    
  &__label
    position: absolute
    bottom: 15px
    right: 15px
    
  
  &__inner
    &:hover
      .product
        &__top, &__top::before, &__body
          border-color: $color-main-h
        &__label
          background: $color-main-h
      
  &.selected
    .product
      &__top, &__top::before, &__body
        border-color: $color-second
      &__label
        background: $color-second
      &__inner
        &:hover
          .product
            &__top, &__top::before, &__body
              border-color: $color-second-h
            &__label
              background: $color-second-h
        
  &.disabled
    .product
      &__name, &__type
        color: #999
      &__desc
        color: #B3B3B3
      &__top, &__top::before, &__body
        border-color: $color-disabled
      &__label
        background: $color-disabled
      &__body
        &::before
          +pseudo()
          top: 0
          left: 0
          right: 0
          bottom: 0
          border-bottom-right-radius: $border-radius-product
          border-bottom-left-radius: $border-radius-product
          background: $color-box
          opacity: .65
          
  &__info
    padding-top: 10px
      
.extra
  &__list
    line-height: (16 / 14)
  &__item
    color: $color-font-gray
    font-size: 14px
    
.info
  &__text
    font-size: 13px
    line-height: 1.3
    text-align: center
    color: #FFF
    text-shadow: 0 1px 0 #000
    display: none
    &_disabled
      color: #FF6
    a
      font-weight: 700
      border-bottom: 1px dashed
      +link-states(color text-decoration border-color, $color-main none $color-main, $color-second none $color-second)

.product
  @each $class in default, selected, disabled
    &.#{$class}
      .info__text_#{$class}
        display: block
      
