@import init

@font-face
  font-family: 'Exo20'
  src: local('Exo20-Thin'), resolve('Exo20-Thin.woff2') format('woff2'), resolve('Exo20-Thin.woff') format('woff'), resolve('Exo20-Thin.ttf') format('truetype')
  font-style: normal
  font-weight: 100

ul, ol
  margin: 0
  
p
  margin: 0 0 1em
  &:last-child
    margin-bottom: 0
  
h1, h2, h3, h4, h5, h6
  margin: 0

textarea, button, select, input
  font-family: $base-font-family
  
*,
*::before,
*::after
  box-sizing: border-box
  
  
ul, ol
  list-style-type: none
  
b
  font-weight: 500

body
  color: $color-font
  min-width: 320px
  min-height: 100vh
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  
.g--wrap
  min-width: 320px
  max-width: $wrapper-width + $wrapper-paddings * 2
  width: 100%
  margin: 0 auto
  padding-left: $wrapper-paddings
  padding-right: $wrapper-paddings

.g--title
  font-family: 'Exo20', serif
  font-weight: 100
  font-size: 36px
  text-align: center
  color: #FFF
  margin-bottom: 20px