=va()
  font-size : 0
  &:before
    content: ''
    display : inline-block
    vertical-align : middle
    width : 0
    height : 100%

=counter($var, $symb: '')
  counter-reset: $var
  & > li:before
    content: "0"counter($var)"#{$symb}"
    counter-increment: $var

=justyfy()
  text-align: justify
  line-height: 0
  font-size: 0
  -ms-text-justify: newspaper
  text-justify: newspaper
  zoom: 1
  -ms-text-align-last: justify
  text-align-last: justify
  &:after
    content: ''
    display: inline-block
    width: 100%
    height: 0
    visibility: hidden
    overflow: hidden

=text-overflow()
  overflow: hidden
  -ms-text-overflow: ellipsis
  text-overflow: ellipsis
  white-space: nowrap

=arr($width, $height, $bg, $direction)
  width: 0
  height: 0
  border-style: solid
  @if $direction == t
    border-width: 0 $width / 2 $height $width / 2
    border-color: transparent transparent $bg transparent
  @if $direction == r
    border-width: $height / 2 0 $height / 2 $width
    border-color: transparent transparent transparent $bg
  @if $direction == b
    border-width: $height $width / 2 0 $width / 2
    border-color: $bg transparent transparent transparent
  @if $direction == l
    border-width: $height / 2 $width $height / 2 0
    border-color: transparent $bg transparent transparent
  @if $direction == tl
    border-width: $height $width 0 0
    border-color: $bg transparent transparent transparent
  @if $direction == tr
    border-width: 0 $width $height 0
    border-color: transparent $bg transparent transparent
  @if $direction == br
    border-width: 0 0 $height $width
    border-color: transparent transparent $bg transparent
  @if $direction == bl
    border-width: $height 0 0 $width
    border-color: transparent transparent transparent $bg
    
=hide-styling()
  -moz-appearance: none !important
  -webkit-appearance: none !important
  &::-ms-expand
    display: none !important

=push-auto()
  margin:
    left: auto
    right: auto

=pseudo($display: block, $pos: absolute, $content: '')
  content: $content
  display: $display
  position: $pos

@function z($name)
  @if index($z-indexes, $name)
    @return (length($z-indexes) - index($z-indexes, $name)) + 1
  @else
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}'
    @return null

=hardware($backface: true, $perspective: 1000)
  @if $backface
    backface-visibility: hidden
  perspective: $perspective
  
=autofill($background: #FFF, $color: #000)
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill
    -webkit-text-fill-color: $color
    -webkit-box-shadow: 0 0 0 1000px $background inset
  
@function unicode($str)
  @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"")

=centerX($pos: 50%)
  left: $pos
  transform: translateX(-50%)
=centerY($pos: 50%)
  top: $pos
  transform: translateY(-50%)
=center($posX: 50%, $posY: 50%)
  left: $posX
  top: $posY
  transform: translateX(-50%) translateY(-50%)
  
=centerX-margin($width: 20px)
  left: 50%
  margin-left: - ($width / 2)
=centerY-margin($height: 20px)
  top: 50%
  margin-top: - ($height / 2)
=center-margin($width: 20px, $height: 20px)
  top: 50%
  left: 50%
  margin-left: - ($width / 2)
  margin-top: - ($height / 2)
  

@function em($pixels, $context: $base-font-size)
  @return #{$pixels/$context}em

@function rem($pixels)
  @return #{$pixels/$base-font-size}rem
  
 
//-----------------------------------LINKS

=simple-link
  @content
  &:visited, &:hover, &:active, &:focus
    @content
    
=link-states($properties, $values, $states-values: $values, $active-values: $states-values, $focus-values: $states-values)
  @if length($properties) > 1
    @for $i from 2 to length($properties) + 1
      @if length($values) < $i
        $values: append($values, nth($values, length($values)))
      
      @if length($states-values) < $i
        $states-values: append($states-values, nth($states-values, length($states-values)))
      
      @if length($active-values) < $i
        $active-values: append($active-values, nth($active-values, length($active-values)))
      
      @if length($focus-values) < $i
        $focus-values: append($focus-values, nth($focus-values, length($focus-values)))
  
  $prop-val-list: zip($properties, $values, $states-values, $active-values, $focus-values)
  
  $states-sel: unquote("&:hover")
  $active-sel: unquote("&:active")
  $focus-sel: unquote("&:focus")
  $visited-sel: unquote("&:visited")
  
  @if $active-values == $states-values
    $states-sel: append($states-sel, $active-sel, comma)
    $active-sel: null
  
  @if $focus-values == $states-values
    $states-sel: append($states-sel, $focus-sel, comma)
    $focus-sel: null
  
  @each $prop-val in $prop-val-list
    $property: nth($prop-val, 1)
    $value: nth($prop-val, 2)
    
    #{$property}: $value
  
  #{$visited-sel}
    @each $prop-val in $prop-val-list
      $property: nth($prop-val, 1)
      $value: nth($prop-val, 2)
      
      #{$property}: $value
  
  
  #{$states-sel}
    @each $prop-val in $prop-val-list
      $property: nth($prop-val, 1)
      $value: nth($prop-val, 2)
      $states-value: nth($prop-val, 3)
      
      @if type-of($value) == "color"
        @if type-of($states-value) == "number" and unit($states-value) == "%"
          @if $states-value < 0%
            $states-value: darken($value, $states-value * -1)
          @else
            $states-value: lighten($value, $states-value)
      
      #{$property}: $states-value
  
  @if $active-sel
    #{$active-sel}
      @each $prop-val in $prop-val-list
        $property: nth($prop-val, 1)
        $value: nth($prop-val, 2)
        $active-value: nth($prop-val, 4)
        
        @if type-of($value) == "color"
          @if type-of($active-value) == "number" and unit($active-value) == "%"
            @if $active-value < 0%
              $active-value: darken($value, $active-value * -1)
            @else
              $active-value: lighten($value, $active-value)
        
        #{$property}: $active-value
  
  @if $focus-sel
    #{$focus-sel}
      @each $prop-val in $prop-val-list
        $property: nth($prop-val, 1)
        $value: nth($prop-val, 2)
        $focus-value: nth($prop-val, 5)
        
        @if type-of($value) == "color"
          @if type-of($focus-value) == "number" and unit($focus-value) == "%"
            @if $focus-value < 0%
              $focus-value: darken($value, $focus-value * -1)
            @else
              $focus-value: lighten($value, $focus-value)
        
        #{$property}: $focus-value
  
//----------------------------------COMPASS

=clearfix
  &:after
    content: ""
    display: table
    clear: both
      
=inline-block($alignment: middle)
  display: inline-block
  vertical-align: $alignment
  
=hide-text($direction: right)
  @if $direction == left
    $approximate-em-value: 16px / 1em
    $wider-than-any-screen: -9999em
    text-indent: $wider-than-any-screen * $approximate-em-value
    overflow: hidden
    text-align: left
  @else
  text-indent: 110%
  white-space: nowrap
  overflow: hidden

